{% extends 'base.html' %}

{% block header %}
{% block title %}Home{% endblock %}
{% endblock %}

{% block content %}
<p class="flow-text">
    Welcome to the Real-Time Scheduling Simulator! This is my Bachelor's Thesis Project.
    It is meant to help you understand and visualize RT-Scheduling Algorithms.
</p>

<div class="row">
    <div class="col">
        <a href="{{ url_for('setups.create_setup') }}">
            <button class="btn waves-effect waves-light green lighten-1">Create new Setup</button
                class="btn waves-effect waves-light">
        </a>
    </div>

    <div class="col">
        <a href="{{ url_for('setups.list_setups') }}">
            <button class="btn waves-effect waves-light orange lighten-1">View Setups</button
                class="btn waves-effect waves-light">
        </a>
    </div>


    <div class="col">
        <a>
            <button class="btn waves-effect waves-light orange lighten-1">View Results</button
                class="btn waves-effect waves-light">
        </a>
    </div>
</div>
{% endblock %}