<script>
  const RESOURCE_KEY = "RESOURCES";
  const TASKSET_KEY = "TASKSET";

  function storeElementInSession(element, sessionItemKey) {
    var sessionArray = JSON.parse(sessionStorage.getItem(sessionItemKey));

    if (!sessionArray) {
      sessionArray = [];
    }

    sessionArray.push(element);
    sessionStorage.setItem(sessionItemKey, JSON.stringify(sessionArray));

    updateTable(sessionItemKey);
  }

  function deleteElementFromSession(index, sessionItemKey) {
    if (typeof index !== 'number' || isNaN(index)) {
      console.error("No index provided, couldn't delete element: ", index);
      return;
    }

    var sessionArray = JSON.parse(sessionStorage.getItem(sessionItemKey));
    sessionArray.splice(index, 1);
    sessionStorage.setItem(sessionItemKey, JSON.stringify(sessionArray));

    updateTable(sessionItemKey);
  }

  function updateTable(sessionItemKey) {
    var elementId;

    if (sessionItemKey === RESOURCE_KEY) {
      elementId = "resource_table";
    } else if (sessionItemKey === TASKSET_KEY) {
      elementId = "task_table";
    }

    if (!elementId) {
      console.error("No elementId could be found, no table updated. The following sessionItemKey was provided: ", sessionItemKey);
      return;
    }

    const table = document.getElementById(elementId);
    const sessionArray = JSON.parse(sessionStorage.getItem(sessionItemKey));

    updateHiddenFormField(sessionItemKey, JSON.stringify(sessionArray));

    table.innerHTML = "";

    if (sessionItemKey === RESOURCE_KEY) {
      populateResourceTable(table, sessionArray);
    } else if (sessionItemKey === TASKSET_KEY) {
      populateTasksTable(table, sessionArray);
    }
  }

  function updateHiddenFormField(sessionItemKey, fieldValue) {
    var elementId;

    if (sessionItemKey === RESOURCE_KEY) {
      elementId = "resources_hidden_input";
    } else if (sessionItemKey === TASKSET_KEY) {
      elementId = "tasks_hidden_input";
    }

    if (!elementId) {
      console.error("No elementId could be found, no hidden form field updated. The following sessionItemKey was provided: ", sessionItemKey);
      return;
    }

    const hidden_field = document.getElementById(elementId);

    if (hidden_field)
      hidden_field.value = fieldValue;
  }

  function createTask() {
    const task_name = document.getElementById('task_name').value;
    const task_start = document.getElementById('task_start').value;
    const task_wcet = document.getElementById('task_wcet').value;
    const task_min_period = document.getElementById('task_min_period').value;

    storeElementInSession({ name: task_name, start: task_start, wcet: task_wcet, min_period: task_min_period }, TASKSET_KEY);
  }

  function createResource() {
    const resource_name = document.getElementById('resource_name').value;

    storeElementInSession(resource_name, RESOURCE_KEY);
  }

  function populateResourceTable(table, sessionArray) {
    var header_row = table.insertRow(0);

    var header_cell_name = header_row.insertCell();
    var header_cell_actions = header_row.insertCell();

    header_cell_name.innerHTML = "Resource Name";
    header_cell_actions.innerHTML = "Actions";

    var i = 0;
    sessionArray?.forEach(resource => {
      var row = table.insertRow(1);
      var cell_name = row.insertCell();
      var cell_actions = row.insertCell();

      cell_name.innerHTML = resource;
      cell_actions.innerHTML = `<button onclick="deleteElementFromSession(${i},'${RESOURCE_KEY}')" type="button">remove resource</button>`;

      i++;
    })
  }

  function populateTasksTable(table, sessionArray) {
    var header_row = task_table.insertRow(0);

    var header_cell_name = header_row.insertCell();
    var header_cell_start = header_row.insertCell();
    var header_cell_min_period = header_row.insertCell();
    var header_cell_wcet = header_row.insertCell();
    // var header_cell_deadline = header_row.insertCell();
    var header_cell_actions = header_row.insertCell();

    header_cell_name.innerHTML = "Task Name";
    header_cell_start.innerHTML = "Starting Point"
    header_cell_wcet.innerHTML = "WCET";
    header_cell_min_period.innerHTML = "Minimal Period";
    // header_cell_deadline.innerHTML = "Deadline";
    header_cell_actions.innerHTML = "Actions";

    var i = 0;
    sessionArray?.forEach(task => {
      var row = task_table.insertRow(1);

      var cell_name = row.insertCell();
      var cell_start = row.insertCell();
      var cell_wcet = row.insertCell();
      var cell_min_period = row.insertCell();
      // var cell_deadline = row.insertCell();
      var cell_actions = row.insertCell();

      cell_name.innerHTML = task.name;
      cell_start.innerHTML = task.start;
      cell_wcet.innerHTML = task.wcet;
      cell_min_period.innerHTML = task.min_period;
      // cell_deadline.innerHTML = task.deadline;

      cell_actions.innerHTML = `<button onclick="deleteElementFromSession(${i},'${TASKSET_KEY}')">remove task</button>`;

      i++;
    })
  }

  function toggleResourceElements() {
    const isResourceToggleChecked = document.getElementById('resources_activated').checked;
    document.getElementsByName('resource_setting').forEach(e => {
      e.style.display = isResourceToggleChecked ? "block" : "none";
    })
  }

  function collectFormData() {
    const resourcesActivated = document.getElementById('resources_activated').checked;
    const algorithm = document.getElementById('algorithms').value;

    const resources = JSON.parse(sessionStorage.getItem("RESOURCES")) || [];
    const tasks = JSON.parse(sessionStorage.getItem("TASKSET")) || [];

    const formData = {
      resources_activated: resourcesActivated,
      algorithm: algorithm,
      resources: resources,
      tasks: tasks
    };

    return formData;
  }

  async function sendFormData() {
    const formData = collectFormData();

    try {
      const response = await fetch('/setups/new', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      });

      if (response.ok) {
        const result = await response.text();
        document.body.innerHTML = result; // Replace the page content with the result
      } else {
        console.error('Error:', response.statusText);
        alert('Failed to send data to the server.');
      }
    } catch (error) {
      console.error('Error:', error);
      alert('An error occurred while sending data to the server.');
    }
  }

  window.addEventListener("DOMContentLoaded", () => updateTable(RESOURCE_KEY));
  window.addEventListener("DOMContentLoaded", () => updateTable(TASKSET_KEY));
</script>

<style>
  table {
    border-collapse: collapse;
    width: 50%;
  }

  td,
  th {
    border: 1px solid black;
    padding: 8px;
  }
</style>

{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Create new Setup{% endblock %}</h1>
{% endblock %}

{% block content %}
<h2>Settings</h2>
<input type="checkbox" id="resources_activated" name="resources_activated" value="True"
  onchange="toggleResourceElements()" checked>
<label for="resources_activated">Resources</label><br>

<div name="resource_setting">
  <input type="radio" id="pip" name="resource_strat" value="pip">
  <label for="pip">Priority Inheritance Protocol</label><br>

  <input type="radio" id="pcp" name="resource_strat" value="pcp">
  <label for="pcp">Priority Ceiling Protocol</label><br>

  <input type="radio" id="none" name="resource_strat" value="none">
  <label for="none">No Deadlock-Avoidance Strategy</label><br>
</div>

<label for="algorithms">Choose an algorithm:</label>
<select id="algorithms" name="algorithms">
  <option value="edf" selected>Earliest Deadline First (EDF)</option>
  <option value="llf">Least Laxity First (LLF)</option>
  <option value="mllf">Modified Least Laxity First (MLLF)</option>
  <option value="rms">Rate Monotonic Scheduling (RMS)</option>
  <option value="fps">Fixed Priority Scheduling (FPS)</option>
</select>

<div name="resource_setting">
  <h2>Resources</h2>
  <input type="text" id="resource_name" placeholder="Resource Name" />
  <button onclick="createResource()" type="button">Add Resource</button>

  <!-- TODO display some special text when table is empty -->
  <table id="resource_table"></table>
</div>

<h2>Taskset</h2>
<input type="text" id="task_name" placeholder="Task Name" />
<input type="number" id="task_start" placeholder="Starting Point" />
<input type="number" id="task_wcet" placeholder="WCET" />
<input type="number" id="task_min_period" placeholder="Minimal Period" />
<!-- <input type="number" id="task_deadline" placeholder="Deadline" readonly /> -->
<button onclick="createTask()" type="button">Add Task</button>

<!-- TODO display some special text when table is empty -->
<table id="task_table"></table>


<br>
<br>

<button type="button" onclick="sendFormData()">Run Simulation</button>
{% endblock %}