{% extends 'base.html' %}

{% block header %}
{% block title %}Setups{% endblock %}
{% endblock %}

{% block content %}
<!-- TODO create setup list -->

<table id="filenames_table" class="highlight centered">
  <thead>
    <th>Filename</th>
    <th></th>
  </thead>
</table>

{% endblock %}

{% block JavaScript %}
<script>
  const filenames_json = {{ filenames | tojson | safe }};

  function populateFilenameTable() {
    const table = document.getElementById('filenames_table');
    filenames_json.forEach(filename => {
      var row = table.insertRow();
      var cell_filename = row.insertCell();
      var cell_actions = row.insertCell();

      cell_filename.innerHTML = filename;
      cell_actions.innerHTML = `
        <button class="btn waves-effect waves-light blue lighten-1" onclick="downloadFile('${filename}')">Download</button>
        <button class="btn waves-effect waves-light red" onclick="deleteFile('${filename}')">Delete</button>
      `;

    });
  }

  function deleteFile(filename) {
    console.log("delete: " + filename);
    try {
      fetch(`/setups/delete/${filename}`, {
        method: "DELETE",
      }).then(response => {
        if (response.redirected) {
          window.location.href = response.url; // Let browser load the full page
        }
      });
    } catch (error) {
      console.error('Error:', error);
      alert('An error occurred while sending data to the server.');
    }
  }

  function downloadFile(filename) {
    console.log("download: " + filename);
    fetch(`/setups/download/${filename}`, {
      method: "GET",
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.blob();
      })
      .then(blob => {
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(url);
      })
      .catch(error => {
        console.error('Error:', error);
        alert('An error occurred while downloading the file.');
      });
  }

  window.addEventListener("DOMContentLoaded", () => populateFilenameTable());
</script>
{% endblock %}