{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Taskset{% endblock %}</h1>
{% endblock %}

{% block content %}

    <h3>Create a new Taskset</h3>
    <input type="text" placeholder="Task Name"/>
    <input type="number" placeholder="Minimal Period"/>
    <input type="number" placeholder="Deadline"/>
    <input type="number" placeholder="WCET"/>
    
    <button>Add Task</button>
    
    <ul></ul>

    <h3>Choose an existing Taskset</h3>

    <h3>Upload an existing Taskset</h3>
    <input type="file">

    <br>
    <br>

    <a href="{{ url_for('sim.result')}}">
        <button>Run Simulation</button>
    </a>
{% endblock %}